{{!--
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
  <div class="friendly-links">
    <h3>友情链接</h3>
    <ul>
      <li><a href="http://caibaojian.com/">前端开发博客</a></li>
      <li><a href="https://www.zhangxinxu.com/wordpress/">张鑫旭</a></li>
    </ul>
  </div>
  <div class="m-footer__content">
    <p class="m-footer-copyright">
      <span>{{@site.title}} &copy; 2018-{{date format="YYYY"}} chly-yile.com, Inc. All Rights Reserved.</span>
    </p>

    {{!-- <nav class="m-footer-social">
      {{#if @site.facebook}}
        <a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener" aria-label="Facebook">
          <span class="icon-facebook"></span>
        </a>
      {{/if}}
      {{#if @site.twitter}}
        <a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener" aria-label="Twitter">
          <span class="icon-twitter"></span>
        </a>
      {{/if}}
    </nav> --}}
    <p class="m-footer-copyright jslicense">
      <span style="color: #cccccc;">豫ICP备19032991号-1</span>
      {{!-- <a href="{{asset "html/javascript.html"}}" rel="jslicense">{{t "JavaScript license information"}}</a> --}}
    </p>
  </div>
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  {{#is "post"}}
  <section style="text-align: center;color: white;padding-bottom: 20px;font-size: 0.875rem;">
      <span id="busuanzi_container_page_pv">PV:&nbsp;&nbsp;<span id="busuanzi_value_page_pv"></span></span>
  </section>
  {{/is}}
  {{#is "index"}}
  <section style="text-align: center;color: white;padding-bottom: 20px;font-size: 0.875rem;">
      <span id="busuanzi_container_site_pv">PV:&nbsp;&nbsp;<span id="busuanzi_value_site_pv"></span></span>
      <span style="display: inline-block;padding: 0 10px;">&bull;</span>
      <span id="busuanzi_container_site_uv">UV:&nbsp;&nbsp;<span id="busuanzi_value_site_uv"></span></span>
  </section>
  {{/is}}
</footer>
