{{!--
This template is used for the posts that are marked as pages.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
  <div class="main-wrap">
    {{!-- Special header.hbs partial to generate the <header> tag --}}
    {{> header background=feature_image}}
    {{!-- Inject styles of the hero image to make it responsive --}}
    {{> hero background=feature_image}}
    <div class="m-hero__content" data-aos="fade-down">
      <h1 class="m-hero-title bigger page-header">{{title}}</h1>
      {{#if custom_excerpt}}
        <p class="m-hero-description">{{custom_excerpt}}</p>
      {{/if}}
    </div>
    </section>
    <main>
      <article>
        <div class="l-content">
          <div class="l-wrapper in-post" data-aos="fade-up" data-aos-delay="300">
            <div class="l-post-content">
              <div class="pos-relative js-post-content">
                {{content}}
                <form class="contact-form" action="https://formspree.io/1454338435@qq.com" method="post">
                  <label for="full-name">{{t "Name"}}</label>
                  <input type="text" name="name" id="full-name" placeholder={{t "First and Last"}} required>
                  <label for="email-address">{{t "Email Address"}}</label>
                  <input type="email" name="_replyto" id="email-address" placeholder={{t "Your email address"}} required>
                  <label for="message">{{t "Message"}}</label>
                  <textarea rows="5" name="message" id="message" placeholder={{t "Your message"}} required></textarea>
                  <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
                  {{!-- 自定义的thanks页面需要黄金或者白金会员 --}}
                  <input type="hidden" name="_next" value="{{@site.url}}/thanks/">
                  <input type="submit" value={{t "Submit"}}>
                </form>
              </div>
            </div>
          </div>
        </div>
      </article>
    </main>
  </div>
{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/page.js"}}"></script>
{{/contentFor}}
